{% extends "layout/base.html" %}

{% block content %}

<header class="page-header" data-background="/static/images/slide01.jpg">
  <div class="container">
    <h1>Careers</h1>
    <p>At Shipbite, you'll be empowered to be productive, you'll be given freedom, <br> and your ideas will matter.</p>
  </div>
  <!-- end container --> 
</header>
<!-- end page-header -->
<section class="content-section">
  <div class="container">
    <div class="row">
	  <div class="col-lg-8">
		  
      <div class="news-box">
        <!-- <figure>
			<img src="/statc/images/news01.jpg" alt="Image">
			   </figure> -->
          <div class="content">
			  <p><strong>Staff Accountant:</strong></p>
			  <p>Under supervision, the individual is to perform professional accounting and fiscal work, including establishing and maintaining fiscal records and preparing accounting, statistical and narrative reports. <br>To analyze the need and requirements for and to develop new accounting systems, and to improve existing accounting systems, and perform other work as required.</p>
			  <p><strong>Qualifications:</strong> <br><br> Any combination of training and experience which would provide the required knowledge and abilities is qualifying. A typical way to obtain these knowledge and abilities would be:</p>
            <p>Possession of a bachelor's degree from an accredited college or university in business administration, finance, accounting or a closely related field, which must have included at least 12 semester or 18 quarter units from among the following accounting courses:</p>
        <ul>
          <li>Principles of Accounting, Intermediate, Advanced, Governmental, Fund, Cost, Managerial, Financial Accounting or Auditing</li>
        </ul>
        <p>Possession of a certified public accountant certificate. <br>Four (4) years of full-time experience as an accounting technician or higher-level position for Santa Cruz County. <br>At least, 12 semester or 18 quarter units from the above listed accounting courses.</p>
			 </div>
       <button type="submit" onclick="newPage()" value="load application page">APPLY HERE</button>
			<!-- end content -->
        </div>
        <!-- end news-box --> 
		  <ul class="pagination">
          <li class="page-item"> <a class="page-link" href="/careers">PREV</a> </li>
          <li class="page-item" aria-disabled="true"> <a class="page-link" href="#">NEXT</a> </li>
        </ul>
        <!-- end pagination --> 
		</div>
		<!-- end col-8 -->
		<div class="col-lg-4">
			<aside class="sidebar">
			<div class="widget">
				<h6 class="widget-title">SEARCH</h6>
				<form>
					<input type="search" placeholder="Type here to search">
					<input type="submit" value="Search">
				</form>
				</div>
				<!-- end widget -->
				<div class="widget">
				<h6 class="widget-title">Job Opportunities</h6>
				<ul class="categories">
						<li><a href="/careers">Shipping Clerk</a></li>
						<li><a href="/careers2">Staff Accountant</a></li>
						<li><a href="#">Field Office Personnel</a></li>
						<li><a href="#">Analyst, Shipping</a></li>
						<li><a href="#">Logistics specialist</a></li>
						<!-- <li><a href="#">Shipping</a></li>
						<li><a href="#">Commerce Cargo</a></li> -->
					</ul>
				</div>
				<!-- end widget -->
				
				<!-- <div class="widget">
				<h6 class="widget-title">GALLERY</h6>
				<ul class="side-gallery">
						<li><img src="/static/images/gallery-item01.jpg" alt="Image"></li>
						<li><img src="/static/images/gallery-item02.jpg" alt="Image"></li>
						<li><img src="/static/images/gallery-item03.jpg" alt="Image"></li>
						<li><img src="/static/images/gallery-item04.jpg" alt="Image"></li>
						<li><img src="/static/images/gallery-item05.jpg" alt="Image"></li>
						<li><img src="/static/images/gallery-item01.jpg" alt="Image"></li>
					</ul>
				</div> -->
				<!-- end widget -->
			</aside>
			<!-- end sidebar -->
		</div>
		<!-- end col-4 -->
	  </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<!-- end content-section -->
{% include 'layout/footer.html' %}

<script >
  function newPage() {
    window.location.assign('/application')
  }
</script>

{% endblock content %}