<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="theme-color" content="#fed300"/>
<title>Shipbite | Logicstic Shipping Company</title>
<meta name="author" content="Themezinho">
<meta name="description" content="For all kind of delivery and shipping company website">
<meta name="keywords" content="logistic, shipping, cargo, delivery, transportation, truck, service, solutions, importing, exporting, trade, product, move, calculate, cost, ecommerce">

<!-- SOCIAL MEDIA META -->
<meta property="og:description" content="Qesco | Logicstic Shipping Company">
<meta property="og:image" content="http://www.themezinho.net/qesco/preview.png">
<meta property="og:site_name" content="Qesco">
<meta property="og:title" content="Qesco">
<meta property="og:type" content="website">
<meta property="og:url" content="http://www.themezinho.net/qesco">

<!-- TWITTER META -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@Qesco">
<meta name="twitter:creator" content="@Qesco">
<meta name="twitter:title" content="Qesco">
<meta name="twitter:description" content="Qesco | Logicstic Shipping Company">
<meta name="twitter:image" content="http://www.themezinho.net/qesco/preview.png">

<!-- FAVICON FILES -->
<link href="ico/apple-touch-icon-144-precomposed.png" rel="apple-touch-icon" sizes="144x144">
<link href="ico/apple-touch-icon-114-precomposed.png" rel="apple-touch-icon" sizes="114x114">
<link href="ico/apple-touch-icon-72-precomposed.png" rel="apple-touch-icon" sizes="72x72">
<link href="ico/apple-touch-icon-57-precomposed.png" rel="apple-touch-icon">
<link href="ico/favicon.png" rel="shortcut icon">

<!-- CSS FILES -->
<link rel="stylesheet" href="/static/css/lineicons.css">
<link rel="stylesheet" href="/static/css/swiper.min.css">
<link rel="stylesheet" href="/static/css/odometer.min.css">
<link rel="stylesheet" href="/static/css/fancybox.min.css">
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/style.css">

<link href="https://cdn.lineicons.com/3.0/lineicons.css" rel="stylesheet">
</head>
<body>
    <div id="content">
        {% block content %}

        {% endblock %}
    </div>
</body>
</body>
</html>