
<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <figure class="logo"> <img src="/static/images/logo.png" srcset="/static/images/logo@2x.png" alt="Image"> </figure>
          <p>+1 (424) 900-4259<br>
            <a href="/mailto">sales@shipbite.com</a></p>
          <p>2075 Brandon Trail Alpharetta, <br>
            London - UK</p>
        </div>
        <!-- end col-4 -->
        <div class="col-lg-4 col-md-6">
          <h6 class="widget-title">Quick Links</h6>
          <ul class="footer-menu">
            <li><a href="#">Air Freight</a></li>
            <li><a href="#">Sea Freight</a></li>
            <li><a href="#">Ground Cargo</a></li>
            <li><a href="#">Packaging Options</a></li>
            <li><a href="#">Track Your Shipment</a></li>
          </ul>
        </div>
        <!-- end col-4 -->
        <div class="col-lg-4">
          <h6 class="widget-title">Subscribe Newsletter</h6>
          <form>
            <input type="email" placeholder="enter your email address....">
            <input type="submit" value="Subscribe">
          </form>
        </div>
        <!-- end col-4 -->
        <div class="col-12">
          <div class="footer-bottom"> <span>© 2020 Shipbite | Logicstic Shipping Company</span> <span>Site created by <a href="#">Themezinho</a></span> </div>
          <!-- end footer-bottom --> 
        </div>
        <!-- end col-12 --> 
      </div>
      <!-- end row --> 
    </div>
    <!-- end container --> 
  </footer>
  <!-- end footer --> 
  
  <!-- JS FILES --> 
  <script src="/static/js/jquery.min.js"></script> 
  <script src="/static/js/bootstrap.min.js"></script> 
  <script src="/static/js/fancybox.min.js"></script> 
  <script src="/static/js/swiper.min.js"></script> 
  <script src="/static/js/odometer.min.js"></script> 
  <script src="/static/js/imagesloaded.pkgd.min.js"></script> 
  <script src="/static/js/isotope.min.js"></script> 
  <script src="/static/js/scripts.js"></script>
  